.content{
    padding:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.content h1{
    text-align: center;
    color:#434545;
}
.card {
    display: flex;
    flex-direction: column;
    height:300px;
    padding:30px 2%;
    margin-top: 50px;
    width:40%;
    
    
    align-items: start;
    /* justify-content: center; */
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}