.content {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height:100vh;
}
.content h1 {
  
  color: #0065a8;
}
.card {
  display: flex;
  flex-direction: column;
  height: 50%;
  padding: 0px 5%;
  margin-top: 50px;
  width: 80%;

  align-items: start;
  justify-content: space-evenly;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.text span {
  color: #434545;
  font-weight: 500;
}
.signIn {
  width: 60%;
  align-self: center;
  height: 40px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  background: linear-gradient(to right, green, chartreuse);
  font-weight: 500;
  font-size: 18px;
}
.signIn:hover {
  opacity: 0.8;
}
@media only screen and (min-width: 768px) {
    .card{
        width:40%;
        height: 40%;
    }
}
