.homeCard { 
  display: flex;
  background-color: gray;
  /* height: 100%; */
  /* max-width: 720px; */
  transition: all 0.3s;
  border-radius: 15px;
  /* animation: animate 0.5s; */
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
}

.homeCard:hover {
  opacity: 0.8;
}

.thumb {
  width: 95%;
  height: 100%;
  max-width: 720px;
  transition: all 0.3s;
  object-fit: cover;
  border-radius: 5px;
}

.title {
  color: black;
}

.subheading {
  color: white;
}