* {
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  list-style: none;
}
.navbar li {
  color: white;
}

.menuBar {
  display: flex;
  align-items: start;
  background-color: #001233;
  width: 20%;
  gap: 2%;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in;
}
.menuBar h2 {
  display: none;

  /* padding-right:; */
}
.menuBar span {
  padding-top: 0px;
}
.menuBar:hover {
  background-color: #292c2f;
}

@media only screen and (min-width: 768px) {
  .menuBar {
    width: 12%;
  }
  .menuBar h2 {
    display: block;
    color: white;
    font-weight: 400;
  }
}
